::-webkit-scrollbar {
    width: 8px;
    height:8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightgray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:gray; 
  }
  textarea {
    overflow: scroll;
    height: 100px;
    resize: none; /* Remove this if you want the user to resize the textarea */
}
.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    
    /* avoid browser level touch actions */
    xtouch-action: none;
  }
  
  .panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 10px;
    width: 300px;
    height: calc(100vh - 30px);
    min-width: 100px;
    white-space: nowrap;
    background: #ffffff;
    overflow-y: scroll;
  }
  
  .splitter {
    flex: 0 0 auto;
    width: 10px;  
    background-color: #fafafa;
    min-height: 200px;
    cursor: col-resize;  
  }
  
  .panel-right {
    position: relative;
    flex: 1 1 auto;
    /* resizable */
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    max-height: calc(100vh - 20px);
    background: #ffffff;
  }
  

  .run{
    border:1px solid gray;
    background-color: white;
    border-radius: 3px;
    /* float: right; */
    padding:5px 10px;
  }

  .run:hover{
    background-color: lightgray;
  }

  .outputarea{
    z-index: 999;
    position: absolute;
    width:100%;
    height:30%;
    bottom:60px;
    left:0;
  }